server:
  port: 8080

firebase:
  credentials:
    path: ${FIREBASE_CREDENTIALS_PATH}

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    url: /v3/api-docs
    path: /swagger-ui.html
    enabled: true
  packages-to-scan: com.example.falletterbackend

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${MYSQL_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul
    show-sql: true

  data:
    redis:
      port: ${REDIS_PORT}
      host: ${REDIS_HOST}
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

  jackson:
    property-naming-strategy: SNAKE_CASE
    serialization:
      fail-on-empty-beans: false

  main:
    allow-bean-definition-overriding: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 30MB
      max-request-size: 30MB

  mail:
    host: ${SPRING_MAIL_HOST}
    port: ${SPRING_MAIL_PORT}
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    auth-code-expiration-millis: ${SPRING_MAIL_AUTH_CODE_EXPIRATION_MILLIS}

jwt:
  secret_key: ${JWT_SECRET_KEY}
  access_exp: ${JWT_ACCESS_EXP}
  refresh_exp: ${JWT_REFRESH_EXP}
  header: ${JWT_HEADER}
  prefix: ${JWT_PREFIX}

logging:
  level:
    com:
      amazonaws:
        util:
          EC2MetadataUtils: error

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    region:
      static: ap-northeast-2
      auto: false
    s3:
      bucket: ${AWS_S3_BUCKET}
    stack:
      auto: false
      default:
        image:
          address: https://fablo.s3.ap-northeast-2.amazonaws.com/falletter/profile/default.png

google:
  gemini:
    api:
      key: ${GEMINI_KEY}

falletter:
  item:
    default-brick-count: 5
    default-letter-count: 5
  scheduler:
    letter-delivery-rate-ms: 180000
    letter-delivery-threshold-hours: 12
