name: FALLETTER-CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew clean build

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: docker build -t eeuunn/falletter-image:latest .

      - name: Push Docker Image
        run: docker push eeuunn/falletter-image:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |
            echo ">>> Pulling latest Docker image..."
            sudo docker pull eeuunn/falletter-image:latest

            echo ">>> Stopping old container..."
            sudo docker stop falletter-container || true
            sudo docker rm falletter-container || true

            echo ">>> Running new container with .env..."
            sudo docker run -d -p 8080:8080 --name falletter-container --env-file /home/ubuntu/falletter/.env -v /home/ubuntu/serviceAccountKey.json:/app/serviceAccountKey.json:ro eeuunn/falletter-image:latest